
<div align="center">
  <h4 class="field">Welcome to Tasker Your task is here</h4><br/> 
    <b>Categories :</b> 
      <%#byebug%>
      <% Category.all.each do |category| %>
      <%= link_to category.name, tasks_path(category: category.name) %>
    <% end %><hr>
</div>  

<%= will_paginate @tasks %>
<%= render "task", task: @tasks %>
<%= will_paginate @tasks %>
